# LooUQ MTC.2-N9151 nRF9151 board configuration

# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# Copyright (c) 2025 LooUQ Incorported

config BOARD_LOOUQ_MTC2_N9151
	select SOC_NRF9151_LACA